.about {
    
    &__item {
        display: inline-block;
        width: 330px;
        text-align: center;
        box-sizing: border-box;
        margin: 0 0 0 60px;
    }
    
    &__icon-wrapper {
        display: inline-block;
        width: 98px;
        height: 98px;
        line-height: 98px;
        border-radius: 50%;
        background-color: rgb(46, 204, 113);
        margin: 0 0 25px;
        text-align: center;
        padding: 16px 0;
        box-sizing: border-box;
        
        &:hover {
            background-color: #62d995;
            cursor: pointer;
        }
    }
}