.button {
    display: inline-block;
    border-radius: 0px 15px 15px 0px;
    width: 140px;
    height: 58px;
    color: #fff;
    padding: 0px 20px;
    box-sizing: border-box;
    font-level: 18px;
    font-weight: 700;
    border:none;
    
    &_green {
        background-color: #2ecc71;
           
            &:hover {
                border: 1px solid #4db97b;
                background-color: #4db97b;
        }
    }
}