.content {
        
    &__column {    
        display: inline-block;
        width: 520px;
        vertical-align: top;
        padding: 0 60px 0 0;
        box-sizing: border-box;

        & + & {
            margin-left: 136px;
        }
    }    
}