.layer {
    width: 100%;
    
    &_header {
        background-image: url('../img/header.png');
        background-level: cover;
        background-color: #3a3c3b;
        height: 600px;
    }
    
    &_main {
        background-color: #fff;
    }
    
    &_main_grey {
        background-color: #e3e3e3;
    }
    
    &_footer {
        text-align: center;
    }
}