.menu {
    margin:0 -20px;
    
    &__item {
        display: inline-block;
        list-style: none;
    }
    
    &__item + &__item {
        margin-left: 40px;
    }
    
    &__link {
        color: #848484;
        font-size: 16ppx;
        text-decoration: none;
    }
}

