.quote {
    font-level: 16px;
    color: #848484;
    font-style: italic;
    padding: 0 60px;
    
    &__author {
        font-style: normal;
        color: #222222;
        text-align: center;
        margin: 20px 0 0;
    }
}
