.sphere {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
        
        &__item {
            display: inline-block;
            border-radius: 50%;
            background-color: rgba(3, 3, 3, 0.29); 
            text-align: center;
            
            &:hover {
                background-color: #62d995;
                cursor: pointer;
            }
        }
    
        & &__item {
            width: 53px;
            height: 53px;
            line-height: 53px;
        }
    
        
        &__item + &__item {
            margin-left: 15px;
        }
        
    &_social {
        & .sphere__item {
            width: 36px;
            height: 36px;
            line-height: 36px;
        }
        
         & .sphere__item + .sphere__item {
            margin-left: 10px;
        }
    }
}


