.title {
    
    font-weight: 700;
    margin: 0 0 30px 0;
    color: #222222;
    
    &_level_1x {
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        line-height: 30px;
    }
    
    &_level_2x {
        font-size: 22px;
    }
    
    &_level_3x {
        font-size: 18px;
        color: #848484;
    }
    
    &_color_white {
        color: #fff;
    }
}
