.users {
    
    &__quote {
        width: 790px;
        margin: 0 auto;
    }
    
    &__contact {
        text-align: center;
        
        & .copy {
            margin: 10px 0;
        }
    }    
}

